.header-menu {
    width: calc(100% - 35rem);
    float: left;

    ul {
        margin-top: 10px;
        margin-left: 5rem;

        li {
            float: left;
            list-style-type: none;
            margin-left: 2rem;

            a {
                font-size: 20px;
                text-decoration: none;
                color: #686868;
                letter-spacing: 5px;
                text-transform: uppercase;
                line-height: 2.5rem;
                margin-right:-5px;
                display: block;
            }
        }

        .active {
            border-bottom: 3px solid rgb(2, 154, 255);

            a {
                font-weight: bold;
            }
        }
    }
}